@import "tailwindcss";

.text-stroke-blue {
  -webkit-text-stroke: 3px blue;
  -webkit-text-fill-color: black;
}

.text-stroke-black {
  -webkit-text-stroke: 2.5px black;
  -webkit-text-stroke-width: 3.5px;
  -webkit-text-fill-color: white;
}

.text-stroke-black2 {
  -webkit-text-stroke: 2px black;
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-fill-color: white;
}